.content-one {
  height: 30rem;
  background-image: url("../dist/img/content-one.jpg");
  background-repeat: no-repeat;
}

.content-text {
  width: 70%;
  margin: 3rem auto;
}

.text-lg {
  font-family: $font-secondary;
  font-size: 3rem;
}
