$primary-color: #333;
$secondary-color: #009b3a;
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Kaushan Script", cursive;

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 90%;
  line-height: 1.6;
  color: $primary-color;
  width: 100%;
  z-index: -1;
}

img {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}
